
.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selection:hover {
    transform: translateY(-2px);
}

.selectionSmall {
    width: 15vw;
    height: 15vw;
    margin: 0 1vw 1vw 1vw;
}

.selectionLarge {
    width: 25vw;
    height: 25vw;
    margin: 0 2vw 1vw 2vw;
}

/* Image styling */
.selectionImage {
    width: 20vw;
    height: 20vw;
    position: relative;
}

.sectionName {
    font-size: 2vw;
    font-weight: bold;
}

.imagePlaceholderSmall {
    width: 14vw;
    height: 14vw;
    margin: 0 0 0 3vw;
    background-color: #ccc; /* Placeholder color, adjust as needed */
}

.imagePlaceholderLarge {
    width: 20vw;
    height: 20vw;
    background-color: #ccc; /* Placeholder color, adjust as needed */
}

.selectionImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.greyedOut {
    opacity: 0.5; /* Or use a filter: grayscale(100%); */
    pointer-events: none; /* Prevents clicking on the element */
}
