
.title {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  margin-top: -5vw;
}

.coverImage {
  width: 32vw;
  height: 32vw;
  position: relative;
}

.pageText {
  font-size: 2vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

.pageImage {
  width: 42vw;
  height: 42vw;
  position: relative;
}