
.coverContainer {
  text-align: center;
  margin-top: -2vw;
}

.title {
  color: white;
  font-size: 2.5vw;
  font-weight: bold;
}

.coverImage {
  width: 30vw;
  height: 30vw;
  position: relative;
}


.pageImage {
  width: 35vw;
  height: 35vw;
  position: relative;
}

.pageText {
  font-size: 2vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

.storyOutline {
  width: 50%;
  height: 35vw;
  pointer-events: none;
  position: absolute;
  left: 0;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3vw;
  text-align: center;
}

.storyOutlineTitle {
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 2vw;
}

.selectionContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}