/* Override autofill styles */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
} */


.mdc-text-field {
  width: 350px;
  background-color: white;
}

.mdc-text-field--invalid .mdc-notched-outline {
  border-color: red;
}

.toggle-password {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 13px;
  transition: all .2s ease;
}

.toggle-password:hover {
  background-color: lightgray;
  border-radius: 4px;
  transition: all .2s ease;
}

.toggle-tooltip {
  display: none;
  position: absolute;
  top: -20px;
  right: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  z-index: 1;
  font-size: 12px;
  padding: 5px;
}

.toggle-password:hover .toggle-tooltip {
  display: block;
}

.helper-text {
  font-size: 14px;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}