.mdc-text-field {
  width: 350px;
}

.mdc-text-field--invalid .mdc-notched-outline {
  border-color: red;
}

.toggle-password {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.helper-text {
  font-size: 14px;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}