.input-edit-container {
    position: relative;
    display: inline-flex;
    width: 350px;
    align-items: center;
  }
  
  .email-input-edit {
    flex-grow: 1;
    width: 100%;
    padding: 12px;
    border: gray 1px solid;
    border-radius: 4px;
  }
  
  .edit-button {
    position: absolute;
    right: 2%;
    top: 0;
    padding: 12px;
    border: none;
    background: none;
    color: #1877f2;
    cursor: pointer;
    border-radius: 4px;
    z-index: 1;
  }


  .input-password-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 350px;
    margin-top: 15px;
  }
  
  .input-password-container label {
    position: absolute;
    pointer-events: none;
    transform: translate(16px, 100%) scale(1);
    transform-origin: top left;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: #6f81a5;
    font-size: 16px;
    line-height: 1;
    left: 0;
  }
  
  .input-password-container:focus-within label,
  .input-password-container label.filled {
    transform: translate(16px, 2px) scale(0.7);
    color: #0a53e4;
  }

  .input-password-container label.errorFilled {
    transform: translate(16px, 2px) scale(0.7);
    color: red;
  }

  .input-password-container label.error {
    color: red;
  }

  .toggle-password {
    position: absolute;
    right: 2%;
    top: 2%;
    padding: 12px;
    border: none;
    background: none;
    color: #1877f2;
    cursor: pointer;
    border-radius: 4px;
    z-index: 2;
    background-color: white;
  }
  
  .password-input {
    padding: 12px;
    border: gray 1px solid;
    border-radius: 4px;
  }

  .password-input:focus {
    outline: none;
    border: 1px solid #0a53e4;  /* Blue border when focused */
  }
  
  .password-input.error {
    border-color: red;
    border: 1px solid red;
  }

  .password-input.error:focus {
    border-color: red;
    border: 1px solid red;
  }
  

  .signInButton {
    width: 350px;
    padding: 12px;
    margin: 8px 0;
    cursor: pointer;
    border: gray 1px solid;
    border-radius: 4px;
    background-color: #1877f2;
    color: white;
  }
  
  .signInButton:hover {
    opacity: 0.8;
  }