
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Title styling */
.title {
    text-align: center;
    margin-top: 1vh;
    font-size: 2vw;
    font-weight: bold;
}

.titleFiller {
    color: purple;
}

.selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1vw;
    text-align: center;
}

.section-name {
    font-size: 2vw;
    font-weight: bold;
}

.buttonContainer {
    width: 50%;
    height: 8vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vw;
    border: 1px solid #000;
    border-radius: 1vw;
}