  .title {
    font-size: 50px;
    margin-bottom: 50px;
  }

    
  .continueButton {
    background-color: #1877f2;
    color: white;
  }

  .socialButton {
    background-color: white;
  }
  
  .continueButton,
  .socialButton {
    width: 350px;
    padding: 12px;
    margin: 8px 0;
    cursor: pointer;
    border: gray 1px solid;
    border-radius: 4px;
  }
  
  .continueButton:hover {
    opacity: 0.8;
  }

  .socialButton:hover {
    background-color: lightgray;
  }
  
  .socialButton {
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  
  .socialButton svg {
    margin-right: 8px;
  }

  .signup {
    margin-top: 10px;
    font-size: 14px;
  }