  .title {
      margin-bottom: 50px;
    }
  
  .input-edit-container {
      position: relative;
      display: inline-flex;
      width: 350px;
      align-items: center;
    }
    
    .email-input-edit {
      flex-grow: 1;
      width: 100%;
      padding: 12px;
      border: gray 1px solid;
      border-radius: 4px;
    }
    
    .edit-button {
      position: absolute;
      right: 0%;
      top: 0;
      padding: 12px;
      border: none;
      background: none;
      color: #1877f2;
      cursor: pointer;
      border-radius: 4px;
      z-index: 1;
    }
  
    .signInButton {
      width: 350px;
      padding: 12px;
      margin: 8px 0;
      cursor: pointer;
      border: gray 1px solid;
      border-radius: 4px;
      background-color: #1877f2;
      color: white;
    }
    
    .signInButton:hover {
      opacity: 0.8;
    }