/* General layout */
.container {
  text-align: center;
}

/* Header layout */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.settings {
  background-color: white;
}

.title {
  font-size: 4vw;
  font-weight: bold;
}

/* Main content layout */
.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}

/* Each section layout */
.section {
  flex: 1;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Image styling */
.sectionImage {
  width: 28vw;
  height: 28vw;
  position: relative;
}

/* Button styling */
.button {
  width: 35vw;
  height: 8vw;
  margin-top: 1vw;
  font-size: calc(3vw + 2vh + 0.2vmin);
}

/* Left Button Specific Styling */
.button-left {
  background: transparent;
  color: #000000;
}

/* Right Button Specific Styling */
.button-right {
  background: purple;
  color: white;
}


.button:hover {
  transform: translateY(-2px);
}
