/* General layout */
.container {
  text-align: center;
}

/* Header layout */
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}

.title {
  margin-top: 3vw;
  font-size: 4vw;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Main content layout */
.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 4vw;
}

/* Each section layout */
.section {
  flex: 1;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  position: absolute;
  left: 0;
  top: 0;
  background-color: purple;
  color: white;
  font-size: 2vw;
}

.loggedInButton {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background-color: purple;
  color: white;
  font-size: 2vw;
  font-weight: bold;
  cursor: pointer;
}

.signOutOptions {
  position: absolute;
  margin-top: 3.3vw;
  left: 0;
  width: 12vw;
  background-color: white;
  border-radius: 1vw;
  box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  z-index: 1;
  padding: 0.5vw;
  overflow: hidden;
}

.signOutDetails {
  width: 100%;
  padding: 0 .5vw;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
}

.signOutDetails strong {
  font-weight: bold;
}

.signOutSeparator {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 0.5vw 0;
}

.signOutButton {
  width: 100%;
  padding: 0.5vw;
  font-size: 1vw;
  cursor: pointer;
  border-radius: 0.5vw;
}
.signOutButton:hover {
  background-color: #ccc;
}

/* Image styling */
.sectionImage {
  width: 28vw;
  height: 28vw;
  position: relative;
}

/* Button styling */
.button {
  width: 35vw;
  height: 8vw;
  margin-top: 1vw;
  font-size: calc(3vw + 2vh + 0.2vmin);
}

/* Left Button Specific Styling */
.button-left {
  background: transparent;
  color: #000000;
}

/* Right Button Specific Styling */
.button-right {
  background: purple;
  color: white;
}


.button:hover {
  transform: translateY(-2px);
}
