/* Container styling */
.container {
    text-align: center;
  }

/* Container to hold all the elements */
.selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3vw;
}
  
  /* Header styling */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  /* Title styling */
  .title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 3vw;
    font-weight: bold;
  }

  .leftClick {
    background-color: white;
  }
  
  /* Book list styling */
  .book-list {
    list-style-type: none;
    padding: 0;
  }
  
  .book-list-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .cover-image {
    width: 20vw;
    height: 20vw;
    position: relative;
  }
  
  .disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }